
body{
  padding: 0;
  margin: 0;
}

.parktana-main{
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 30vh;
  background: black;
  color: white;
  margin: 0;
}

.parktana-main h1{
  font-size: 4em;
  text-shadow: grey 5px 5px;
}

.parktana-main h1:hover{
  text-shadow: blue 10px 10px;
}

img.emoji{
  width: 60%;
}

.emojis, .wallpapers, .photos{
  text-align: center;
  overflow: hidden;
}

img.wall{
  width: 100%;
}

div.wall .col-6{
  height: 60vh;
}

div.photo .col-6{
  height: auto;
  overflow: hidden;
}

ul.inline-list{
  list-style: none;
  overflow: hidden;
  width: auto;
  margin: 0 auto;
  padding: 0;
}

ul.inline-list li{
  display: inline;
  overflow: hidden;
}

ul.inline-list.seperate-bar li::after{
  content: "|";
  margin: 0 0.1em 0 0.4em;
}

ul.inline-list.seperate-bar li:last-of-type::after{
  display: none;
}